global
    maxconn 2000

defaults
    mode tcp
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend tcp_http_front
    bind *:9000
    default_backend tcp_http_back

backend tcp_http_back
    balance roundrobin
    server app1 app1:8080 check
    server app2 app2:8080 check
    server app3 app3:8080 check

frontend tcp_grpc_front
    bind *:9001
    default_backend tcp_grpc_back

backend tcp_grpc_back
    balance roundrobin
    server app1 app1:50051 
    server app2 app2:50051 
    server app3 app3:50051 
